.created {
    width: 100%;
    margin : 0 ;
}

@media all and (max-width : 500px) {
   
    .nav-second-section span {
        font-size : 12px;
    }
    .nav-second-section span i {
       display: none;
    }
    .login-card {background: none;}
    form label {
       font-size : 12px !important;
    }
    
    .login-form {
      

  }
    .login-card {
        width: 100%;
    }
    input[type=text] , input[type=password] ,input[type=date],input[type=time] {
     width: 300px;   
    }
}