.nav-second-section {
    background: #183858;
    width: 100%;
    display: flex;
    justify-content: center;
    padding : 10px;
}


.nav-second-section span {
    display: flex;
    color : #fff;
    font-family: 'Formular-Bold';
    font-size : 14px;
    padding-left : 10%;
}

.nav-second-section span i {padding-right : 20px ; font-size : 20px; color :#0992C3;}

.login-container {
    width: 100%;
    height: 947px;
    background: url(assets/international-bgsec1.jpeg) no-repeat center center;
    background-size : cover  ;
    display : flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width : 997px ;
    height: 728px;
    border-radius: 8px;
    display :flex;
    flex-direction: column;
    align-items: center;
}
.login-card span  {
    padding: 10%;
}
.login-card span h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size : 30px;
    color : #fff;
}

.login-card form {
    display : flex ; 
    flex-direction: column;
    text-align: left;
}
.login-card form label {
    padding-bottom : 5%;
    padding-top : 5%;
    color : #fff;
    font-size : 14px;
    font-family: 'Montserrat';
    font-weight: 500;
}
input[type=text] , input[type=password] , input[type=date] ,input[type=time]{
    width: 464px;
    height: 48px;
    background: rgba(196, 196, 196, 0.1);
    padding : 5% 20px 5% 20px;
    border : none ;
    color : #fff;
}
input[type=date] ,input[type=time]{
    border : none ;
    color : #fff;
    font-family: 'Montserrat';
}

::-webkit-datetime-edit { padding: 1em; }

::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { filter: invert(1); }


input[type=submit] {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 129px;
    height: 48px;
    background: rgba(9, 146, 195, 0.77);
    margin-top : 5%;
    border: none;
}
form span {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
form span .SignUp {
    color : #0992C3 ;
    font-weight: bold;
}
footer {
    background: #1F4756;
}



@media all and (max-width : 500px) {
    .nav-second-section span {
        font-size : 12px;
    }
    .nav-second-section span i {
       display: none;
    }
    .login-card {background: none;}
    form label {
       font-size : 12px;
    }
    .login-card {
        width: 100%;
    }
    input[type=text] , input[type=password] {
     width: 300px;   
    }
}