/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@font-face {
    font-family: 'Formular-Bold';
    src: url('font/Formular-Bold.ttf');
}
@font-face {
    font-family: 'Formular-reg';
    src: url(font/Formular.ttf);
}
/**/

* {
    padding : 0 ; 
    margin :  0  ;
    box-sizing: border-box; 
    list-style: none;
    text-decoration: none;
}

header {
    background-color: #fff;
    width: 100%;
}
header nav {
    border-bottom: 1px solid #ddd ;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.left-section-nav {
    display: flex;
    flex-direction: row;
    align-content: center;

}
.nav-container {
    display: flex;
    padding : 1em;
    padding-right : 1em;
    border-left : 0.5px solid #ddd;
}
.nav-container img{
    width: 40px;
    height: 33.33px;
}
.nav-container .second-nav-image {
    width: 33.33px;
    height: 33.33px;
}
.nav-container .last-nav-image{
    width: 25.33px;
    height: 33.33px;
}
.nav-container-text {
    font-family: 'Formular-Bold';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding-left : 20px;
}
.nav-container-text span:first-child  {
    color : #1F4756;
    font-size : 13px;
}
.nav-container-text{
    color : #E01C50 ;
    font-size : 14px;
}
.right-section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.right-section-nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-section-nav ul li {
    padding-right : 2em ;
}
.right-section-nav ul li a { 
    text-decoration: none;
    font-size : 12px;
    color: #1F4756;
    letter-spacing: 0.1em;
    font-family: 'Formular-Bold';
    font-weight: 700;
}

/* logo container */
.logo-container {
    position: relative;
    top : 0 ;
    width: 49px;
    height: 26px;
    cursor: pointer;
    background: #1F4756;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container .line{
    z-index: 1;
    width: 29px;
    background-color : #fff;
    height: 2px;
    margin : 2px;
}

.logo-container .right-logo {
    position : absolute;
    left:0;
    background-color:#E01C50;
    width: 50%;
    height: 100%;
    z-index: 0;
}

/* logo container end*/

/* width menu */

.width-left-menu {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 2s;
    background: #1F4756;
    background : url(assets/international-bgsec1.jpeg) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    z-index: 4;
}


.fa-times {
    color :#fff;
    font-size : 35px;
    position  : absolute;
    top : 2%;
    right : 5%; 
}

.width-left-menu ul ,footer ul{    
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Formular-Bold';
}
.width-left-menu ul li , footer ul li {
    padding : 0.5em 0 0.5em 5em;
}
.width-left-menu ul li a ,footer ul li a {
    color: #fff;
    font-size : 13px;
    letter-spacing: 0.3%;
}
.width-left-menu ul li:first-child a ,footer ul li:first-child a{
    font-size :14px;
    color : #698D9B;
}
.width-left-menu ul:last-child li span ,footer ul:last-child li span{
    color : #fff;
    font-size : 13px;
}

.width-left-menu ul:last-child li span  .width-highLight {color : #698D9B;}
.width-hero-line {
    width: 86%;
    height: 0.5px;
    background-color : #698D9B;
}
.Touch-qoute {font-size : 16px !important;}

input[type=search] {
    width: 330px;
    border-radius: 50px;
    height: 53px;
    border : none;
    background: #698D9B;
   
}
input[type=search]::placeholder {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    padding : 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.44);
    }
.sub-button {
    position: absolute;
    display: inline-block;
    border : none ;
    width: 149px;
    height: 43px;
    background : #E01C50 ;
    border-radius: 50px;
    color : #fff;
}

/* width menu end */


/* second-nav-section start */

.second-nav-section {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding : 10px;
}
.second-nav-section .logo-section {
    display: flex;
} 
.second-nav-section .logo-section .qoutes {
    display: flex;
    flex-direction: column;
    font-size : 13px;
    color : #1F4756;
}
.second-nav-section .logo-section .qoutes ul li {padding :5px 0 0 7px;}
.second-nav-section .logo-section .qoutes h1 {
    font-size : 13px;
    letter-spacing: 0.01em;
    font-family:'Formular-Bold';
    color : #1F4756;
}
.second-nav-section .logo-section .qoutes {
    font-family:'Formular-reg';
    letter-spacing: 0.03em;
}
.second-nav-section .second-nav-list {
    display: flex;
    justify-items: center;
    align-items: center;
}
.second-nav-section .second-nav-list a {
    padding-right : 2em;
    font-family: 'Formular-bold';
    font-size : 15px;
    color :#1F4756;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.second-nav-last-items .language {
    display: flex;
    justify-content: space-around;
}

.second-nav-last-items .language a {font-size :15px; color :#373D3F; letter-spacing: 0.03;font-family: 'Formular-reg'; }
.second-nav-last-items .globe-img {width: 30px;}
.line-hero-vh {width: 1px; height: 20px; background:#373D3F;}
.second-nav-last-items  {

}
.second-nav-last-items .last-nav-buttons{
    
    margin-top :20px;
}
.book-button {
    font-family: 'Roboto', sans-serif;
    font-size : 12px;
    width: 179px;
    height: 4.1457286432160805vh;
    background: #1F4756;
    border-radius: 8px;
    color : #fff;
    border : none ;
}
.siginUp {
    font-family: 'Roboto', sans-serif;
    font-size : 12px;
    width: 157px;
    height : 4.1457286432160805vh;
    border : none ;
    color : #fff;
    background: #E01C50;
    border-radius: 8px;
}

/* second-nav-section end */

main {
    width: 100%;
    overflow : hidden
}


/* department section */

.department-section {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 25% 75%;
}
.left-department-section {

    padding : 20px 0 0 20px;
    margin : auto;
    width: 100%;
    height: 100%;
} 
.left-department-section span {
    font-family: 'Formular-reg';
    font-size : 12px;
    color :#E01C50;
    letter-spacing: 0.11em;
}
.left-department-section span h1 p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding : 20px 0 20px 0;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.03em;
    color: #1F4756;
}
.left-department-section p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #1F4756;
}
.left-department-section button {
    display: none;
    margin-top : 10px;
    width: 179px;
    height: 35px;
    background: #1F4756;
    border-radius: 8px;
    color  : #fff;
    font-size :12px;
    font-family: 'Roboto', sans-serif;    
    font-weight: 500;
    letter-spacing: 0.03em ;
    border : none ;
    
}

.department-container {
    margin-top : 20px;
    width: 100%;
    font-size : 0 ;
}
.row-content {
    display: inline-flex;
    margin : auto;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding : 40px;
    font-size : 13px;
}
.row-content:first-child {
    border-left :none;
}
.f-child {
    border-left:none;
}
.row-content img {
    padding-right : 20px;
}
.row-content span h3 {
    font-family: 'Formular-reg';
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #1F4756;
    padding-bottom: 10px;
}
.row-content span  a {
    font-family: 'Formular-reg';
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #999DA1;
}
.no-bor {
    border-bottom: none;
}


/* departnent section end */


/* internation section */

.inter-container {
    width: 100%;
    height: 455px;
    display: inline-flex;
}

.inter-left {
    width: 1006px;
    padding-top : 6%;
    display: block;
    padding-left : 20px;
    background :#ECF2F7;
}
.inter-left h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.03em;
    font-family: 'Montserrat',sans-serif;
    color: #1F4756;
}
.inter-left p {
    font-family: 'Montserrat',sans-serif;
    color: #1F4756;
    font-weight: 300;
    font-size: 15px;
    padding-top : 26px;
    padding-bottom: 26px;
}
.inter-left button {
    width: 179px;
    height: 35px;
    background: #1F4756;
    border-radius: 8px;
    color  : #fff;
    font-size :12px;
    font-family: 'Roboto', sans-serif;    
    font-weight: 500;
    letter-spacing: 0.03em ;
    border : none ;
    
}
.inter-right {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.inter-right img {
    position : absolute;
    width: 575px;
    height: 394px;
    object-fit: cover;
    border-radius: 8px;
}

/* international section  end*/

/* machines-container */
.machine-container{
    padding : 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.machine-container .text h1 {
    padding-bottom : 20px;
    font-family: 'Formular-reg';
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.03em;
    color: #1F4756;
}
.machine-container .text span {
    font-family: 'Formular-reg';
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #999DA1;

} 
/* machines-container end*/

/* footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: #1F4756;
    background : url(assets/international-bgsec1.jpeg) no-repeat center center fixed;
    background-size: cover;
  
}

.copy-right{
    width: 100%;
    background: #1F4756;
}
.copy-right span {
    font-family: 'Formular-reg';
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #698D9B;
}


/* footer end */
